/* main colors */
.bg-main{
    background-color: #002e25; 
}
.secondary-bg{
    background-color: #396c61;
}
.text-color{
    color: #002e25;
}
.body-bg{
    background-color: #fbf7ed;
}
.bg-main2{
    background-color: #eaf1f0;
}